html,body {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Sora', sans-serif;
}

.navbar .nav-link {
    font-size: 1.2rem;
    font-weight: 700;
}

.hero {
    height: 80vh;
    position: relative;
    background-color: black;
    overflow: hidden;
}

.hero::before {
    content: '';
    background-image: url(Lawn.png);
    background-size: cover;
    position: absolute;
    inset: 0;
    opacity: 0.7;
}

.display-4 {
    font-size: 3rem;
}


.display-4, .hero-p, .btn {
    font-weight: 700;
    color: white;
    isolation: isolate;

}
/* Three cards */

.three-cards {
    padding: 5rem 0;
    overflow: hidden;
}

.card-h3 {
    color: black;
}

.three-cards .text-header h3 {
    font-size: 2.5rem;
    font-weight: 700;
}

.card-header {
    color: #0B4C18;
    font-size: 1.5rem;
    font-weight: 600;
    padding-bottom: 1rem;
}

.card-paragraph {
    color: black;
    font-weight: 300;
}

.bi {
    font-size: 6rem;
}

/* End of three cards */



/* Responsive text size for mobile device */
@media screen and (max-width:767px) {
    .display-4 {
        font-size: 2rem;
    }
    
    
    .display-4, p, .btn {
        font-weight: 700;
        isolation: isolate;
    
    }

    .offcanvas .nav-link {
        font-size: 2.5rem;
    }

    .offcanvas ul li {
        font-size: 1.5rem;
    }
    
}

