html,body {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Sora', sans-serif;
    scroll-behavior: smooth;
    
}

/* nav links hover line animation */

.navbar .navbar-nav .nav-item {
    position: relative;
  }
  .navbar .navbar-nav .nav-item::after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    content: "";
    background-color: #0B4C18;
    width: 0%;
    height: 4px;
    transition: all 0.5s;
  }
  .navbar .navbar-nav .nav-item:hover::after {
    width: 90%;
  }
  

/* End of nav link animation */

.navbar .nav-link {
    font-size: 1.2rem;
    font-weight: 700;
}

.navbar .navbar-toggler {
    color: white !important;
    border-color: white !important;
    }

.hero {
    margin-top: 5rem;
    height: 80vh;
    position: relative;
    background-color: black;
    overflow: hidden;
}

.hero::before {
    content: '';
    background-image: url(Lawn.png);
    background-size: cover;
    position: absolute;
    inset: 0;
    opacity: 0.7;
}

.offcanvas .offcanvas-end {
    width: 90%
}

.display-4 {
    font-size: 4rem;
}

.display-4, .hero-p, .btn {
    font-weight: 700;
    color: white;
    isolation: isolate;
}
/* Three cards */

.three-cards {
    padding: 5rem 0;
    overflow: hidden;
}

.card-h3 {
    color: black;
}

.three-cards .text-header h3 {
    font-size: 2.5rem;
    font-weight: 700;
}

.card-header {
    color: #0B4C18;
    font-size: 1.5rem;
    font-weight: 600;
    padding-bottom: 1rem;
}

.card-paragraph {
    color: black;
    font-weight: 300;
}

.bi {
    font-size: 6rem;
}

.Our-services {
    overflow: hidden;
    
}

.card-service-title {
    color: #0B4C18;
}

/* garden cta */

.garden-cta {
    height: 30vh;
    position: relative;
    background-color: black;
    overflow: hidden;
}

.garden-cta::before {
    content: '';
    background-image: url(garden.png);
    background-size: cover;
    position: absolute;
    inset: 0;
    opacity: 0.7;
}

/* end of garden */
/* Location */
.Location {
    overflow: hidden;
}
/* End of location */
/* Start of footer */
.footer {
    position: absolute;
}

.page-footer {
    overflow: hidden;
}

/* gallery */

.gallery {
    overflow: hidden;
    margin-top: 10rem;
}

/* .container{
    max-width: 1200px;
    
    margin: auto;
} */

.grid{
    margin: 0 auto;
}


.grid .grid-item{
    width: calc(33.333% - 20px);
    margin-bottom: 1em;
}

/* end of gallery */
/* Contact page */

.contact-cta {
    margin-top: 10rem;
    height: 40vh;
    position: relative;
    background-color: black;
    overflow: hidden;
}

.contact-cta::before {
    content: '';
    background-image: url(/backgroundPictures/paver3.png);
    background-size: cover;
    position: absolute;
    inset: 0;
    opacity: 0.6;
}
/* End of Contact page */
/* form */

/* end of form */

@media (max-width:768px){
    .grid .grid-item{
        width: calc(100%- 20px);
    }
}

@media (max-width: 574px) {
    .grid .grid-item{
        width: calc(100%);    
    }
}

/* Responsive text size for mobile device */
@media screen and (max-width:767px) {
    .display-4 {
        font-size: 2rem;
    }

    .offcanvas-body, .offcanvas-header {
        background-color: #02340C
    }
    .navbar .navbar-nav .nav-item::after {
        background-color: white;
    }

    .display-4, p, .btn {
        /* font-weight: 700; */
        isolation: isolate;
    }
    

}
    



@media screen and (max-width: 991px) {
    

    .offcanvas .nav-link {
        font-size: clamp(40px, 5vw, 40px);
    }

    .navbar .navbar-nav .nav-item:hover::after {
        width: 50%;
      }

      .offcanvas-body, .offcanvas-header {
        background-color: #02340C
    }
    .navbar .navbar-nav .nav-item::after {
        background-color: black;
    }
}






.masonry-column {
  padding: 0 1px;
}

.masonry-grid > div .thumbnail {
  margin: 5px 1px;
}

